<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 29.12.2015, 15:01</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first blog post</p>
        </div>

        <div>
            <p>published: 29.12.2015, 15:01</p>
            <h2><a href="">My sedond post</a></h2>
            <p>This is my second blog post</p>
        </div>
    </body>
</html>